[2022-05-30 20:49] ghostsquad commented on #703
What I am deriving from this request, is "show me the human-readable documentation without the code". Is this accurate?

[2022-05-30 20:52] ghostsquad commented on #392
This is not a problem with Task directly. Please report https://github.com/mvdan/sh.

Notice also that there are other differences in your script, not just the lack of newline characters, but also the lack of semicolons.

This is definitely not a task specific problem though.

[2022-05-30 20:57] ghostsquad commented on #662
You could even write a bash function that does what you desire:

[code]

[2022-05-30 21:10] prodigy-byron-jones commented on #703
Correct.

[2022-05-31 17:20] ghostsquad commented on #662
What I don't understand actually is how `--mono` is better than `--`. Usually typing less is better.

[2022-06-01 14:02] ssbarnea commented on #458
Any chance to get a new release for this? I just encountred this bug with a simple `npm compile` that fails with:

[code]

I mentioned that there was no Ctrl-C made by the user at all.

[2022-06-06 15:51] mkyc opened #757 "multilevel schema validation"
- Task version: 3.12.1
- Operating System: Mac OS ARM

### Example Taskfile

[code]

Current [schema](https://json.schemastore.org/taskfile.json) is saying that `"required": ["version", "tasks"]` and that is not entirely true. `tasks` is not required (presented example works) and in multilevel include scenario this is going to be quite normal to have `Taskfile.yaml` just organising parts of direct

[2022-06-06 15:59] ghostsquad commented on #757
Agreed. Either `includes` _and/or_ `tasks` should be present (not neither).

[2022-06-07 20:49] npac opened #760 "Unable to use template variables to define task directory"
- Task version: 3.12.1
- Operating System: Linux 5.10.16.3-microsoft-standard-WSL2 SMP Fri Apr 2 22:23:49 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

### Example Taskfile showing the issue

[code]

Task execution fails with error

[code]

Task version 3.11 has no such issue.

[code]

[2022-06-08 19:28] tiloio opened #762 "Run Tasks in Background"
Be able to run stuff (like database) in background (with waiting mechanisms, e.g. wait for log output or URL returns status code `x`).

When running tests or starting an application I depend on other processes which have to run in the background. For example if I have integration tests which use a MongoDB the MongoDB has to be started first and be ready to receive requests. Another example is when

[2022-06-09 00:42] ghostsquad commented on #762
This sounds like docker-compose would do very well for this use case. Have you tried using that?

[2022-06-09 13:22] endigma opened #763 ""Runners" like docker/podman/shell/etc"
In a taskfile, being able to define an environment for the command to run in would be useful. This could be something like:

[code]

 I know this is possible by just inlining this sort of thing or moving it into scripts, but I still think it would be a valuable addition.

[2022-06-09 13:50] ssbarnea commented on #546
To be honest I am not sure if we need a option to hide it. Instead we can only display it when verbosity level is increased via `-v`. For normal execution, I do not see much value in it, so if we ensure we display it only when we have extra verbosity, we sort the problem.

[2022-06-09 14:02] ssbarnea opened #764 "Add flag to output JSON info to be used by editor extensions, etc"
When integrating with other tools (like vscode extension, or when trying to script exporting tasks to github actions) we really want to avoid having to parse the free-form output, especially as this will likely change and break integration, even between minor versions.

If we would output as JSON, we can make the parsing far more reliable and less likely to break between versions, especially as if

[2022-06-09 18:37] tiloio commented on #762
@ghostsquad docker-compose is not an option
1. its slower -> waste of valuable development time
2. can't handle watch tasks efficiently
3. less posibilities compared to run the commands directly on your machine (can use already installed software etc.)

[2022-06-10 00:57] ghostsquad commented on #762
Ok, so for clarification, what you need is essentially that of the [github.com/oklog/run.Group](https://pkg.go.dev/github.com/oklog/run#section-readme) described below?

[2022-06-11 09:35] tiloio commented on #762
That describes how we can run things in parallel, but we maybe have multiple layers of parallelism.

For example:
[code]

The `run.Group` looks like it can make a group for one layer and a group for all groups of the layers.

[2022-06-11 22:24] andreynering commented on #764
Hi @ssbarnea, thanks for opening an issue for this!

I'd love to get some help with this.

Regarding task status, we already have a `--status` flag that can be used to know that for a given task.

About the JSON output, I think I would not attach that to the `--list` flag, but instead have a flag specifically for this (`--json`?).

[2022-06-11 22:31] andreynering commented on #763
Hi @endigma, and thanks for opening this issue.

We probably won't build integrations with so many tools.

Docker support specifically can be built at some point, but it is not so simple, and it would be better to have an issue specifically for it. #285 has some history.

[2022-06-11 22:31] #763 closed

[2022-06-11 22:38] andreynering commented on #762
Hi @tiloio, thanks for opening this issue.

This feature seems to be too specific to be built into Task IMO. Few people would use it.

As mentioned, Docker compose is a tool you could consider to achieve that. Or if you want to run these dependencies in our own machine you can either use something like `systemd` or run them (via Task or not) manually in different shell sessions.

[2022-06-11 22:38] #762 closed

[2022-06-11 23:16] andreynering commented on #748
Hi @danielrbradley, thanks for opening this issue!

I'd be happy to review a pull request for this!

Implementation tips:

- For `timestamp` tasks, it's just a matter of updating the destination files timestamp. [That's what Make do](https://stackoverflow.com/a/3445341/5520071)
  - Questions:
    - If destination files does not exist, should we create it as empty?
    - And what if a task only hav

[2022-06-11 23:19] andreynering commented on #764
Previous discussion: #753

[2022-06-12 01:20] endigma commented on #763
Potentially a blanket solution like "interpreter"? Could define some command to invoke and expect it to be interactive, similar to a shebang

[2022-06-12 01:47] hhstore opened #770 "New Feature: A Compromise Solution For Reusing common Taskfiles In Different Projects"
## Background:

- There are many issues being discussed about `reusing common Taskfiles`.
- It can be seen that this demand is very strong.
- Given that the `remote include` solution doesn't work. I think of a compromise solution.

## A Compromise Solution:

[code]

- When include contains type option is `git`.
- It will automatically check if the `.task/` (or ~/.local/.task/) path has the same na

[2022-06-12 02:01] #728 closed

[2022-06-12 02:16] andreynering commented on #647
@Porges Isn't the `--output` flag working for this?

https://taskfile.dev/api/#cli

[2022-06-12 07:29] ghostsquad commented on #762
@tiloio I somewhat agree with @andreynering on this, it does kind of feel like what docker-compose is already good at. I've written compose files that do exactly what you are asking for:

Spin up multiple dependencies, finally spin up a client/test container that runs end2end tests. The exit-code of the client/test container is what is passed thru and becomes the exit code of the compose command,

[2022-06-12 18:15] ssbarnea commented on #277
I reached the same bug while trying to use `nvm` inside task and I am aware that are few other popular tools that use shell functions instead of executables.

I know why it does not work but it still sucks as is far from obvious for the average user that these tools use shell functions, which are not directly executable. I wonder what we can do to improve the situation here.

[2022-06-13 01:08] ghostsquad commented on #277
A fantastic alternative to `nvm` and other version managers is `asdf` which doesn't use shell functions.

Asdf also supports using an environment variable to override the location of the `.tool-versions` file, such as pointing it to a file in a temp directory for this use case.

[code]

[2022-06-13 06:50] postlund opened #771 "Run task only if a dependency runs"
In my set up I mainly have two distinct components: one embedded system and one backend (which the embedded system talks to). I want to write integration tests that configures something in the backend and then "runs" the embedded system and verifies that it performs an expected action. As these tasks are rather expensive with regards to time and available hardware, I only want to run these tasks i

[2022-06-13 09:40] ssbarnea opened #774 "fedora: install documentation for go-task is misleading"
https://taskfile.dev/installation/#fedora page states that you can use dnf to install go-task but that is not true, at least not for current version (36) of Fedora.

Should I make a PR to remove the entire section?

One funny remark is that I observed that go-task would conflict with taskwarrior as both use the same command line `task`. I wonder if that could be the reason why it was not added to

[2022-06-13 10:37] ascheman opened #776 "Enable `-n` as short version of `--dry`"
As a user of task(file) I would like to be able to perform a dry-run with the short flag `-n` as it is usable in many other Linux/Unix tools (e.g., `rsync`).

[2022-06-13 11:14] ssbarnea commented on #277
Not really convinced on the fantastic side as I was not able to find even one use of asdf with taskfile so far, https://sourcegraph.com/search?q=context:global+file:%5ETaskfile%5C.yml+asdf&patternType=literal - not that nvm would be far away, with only one occurence, and that apparently broken for me.

[2022-06-13 13:38] ssbarnea commented on #764
The effective command counts as an less important implementation detail, what I was mostly interested was to get an ack from the maintainer that this feature is desired to be included.

[2022-06-13 13:47] andreynering commented on #764
@ssbarnea To be clear: yes, I see this as a very useful feature to support integrations (as code extensions, etc).

And I'm also open to have an official VSCode extension if we have enough people interested in maintaining that, as I said in the other discussion.

[2022-06-13 14:20] ssbarnea commented on #215
Anything involving PWD would not count as safe, IMHO.

@andreynering Sorry to nag you about this but is there any chance to close this before this bug reaches the 2nd year anniversary?  At least if there is a valid workaround we should document it, especially as the need to have such a variable is quite common.

I personally do not care about the effective taskfile location as at this moment I do

[2022-06-13 16:38] ghostsquad commented on #277
Beautiful in fact. You don't need to actually do anything or specifically configure task. Just drop a `.tool-versions` file in your repo (which is also automatically created/updated when running `asdf local <tool> <version>`)

[2022-06-13 23:12] ghostsquad commented on #215
I agree, task should be able to report directory in which the Taskfile it's operating on is located, though this brings into question, should it always be the parent Taskfile directory, and never the directory of the Taskfiles that are in `include`?

[2022-06-13 23:53] andreynering commented on #774
Hi @ssbarnea,

That was added very recently by @mefuller on #767. I do not use Fedora, so I can't really test it to check if it works.

Can you both @mefuller and @ssbarnea discuss and make a conclusion about what to do with that section?

Ubuntu has `apt-get update` to update the package database about new packages/versions, etc. Maybe something similar was missing for @ssbarnea to be able to ins

[2022-06-14 00:00] #776 closed

[2022-06-14 03:27] mefuller commented on #774
Hi @ssbarnea ,

If you follow the link in the installation section to https://packages.fedoraproject.org/pkgs/golang-github-task/go-task/ you will see that the package is currently built and in the stable repository for rawhide.

It will be built and pushed to testing on F35 and F36 within a week (hopefully) and should go stable a week after that.

Sorry for the confusion

[2022-06-14 09:41] maxwassiljew opened #778 "Vars of included Taskfiles in included Taskfiles"
- Task version: Task versionv3.12.1
- Operating System: Linux

I have encountered an inconsistency in vars of included taskfiles and need some assistance. The setup I have looks like this. There is a common-include taskfile and a package1 taskfile. The parent taskfile includes both taskfiles. The package1 also includes common-include.
The problem arises with the variables that are passed. From par

[2022-06-14 10:38] ssbarnea commented on #608
Probably the best use-case for if would be to add steps that depend only on specific platforms, like Windows, Linux, MacOS. Adding extra code for platform on each called shells script is a PITA, one that could be easily avoided with an "if".

[2022-06-14 18:00] ssbarnea opened #779 "When using grouping stderr and stdout output is no longer in order"
It took me some time to discover why the output of some commands was very confusing as the order of the console lines were not in order.

That is happening because when run using grouping both stdout and stderr are captures separated and printed separated, one after another. As you can imagine that can cause very confusing console output for script. Easy to see especially when running bash scripts

[2022-06-14 18:29] mefuller opened #780 "Task 3.13.0 builds but checks fail on Fedora 37"
- Task version: 3.13.0
- Operating System: Fedora 37/Rawhide

Relevant section of build log:
[code]

Full log attached:
[task-3.13.0-builder-live.log.txt](https://github.com/go-task/task/files/8902880/task-3.13.0-builder-live.log.txt)

[2022-06-15 03:43] ghostsquad commented on #779
Do you have a recommended solution for this?

[2022-06-15 03:44] ghostsquad commented on #780
They are flaky. Try running then again.

[2022-06-15 13:07] #780 closed

[2022-06-15 13:30] mefuller commented on #780
I can probably just disable tests in my build for now "on the advice of upstream" and then reenable with the next minor release

[2022-06-18 09:01] ssbarnea commented on #779
I did not look at the code but I did implemented in python something similar to tee, for very similar reasons.

The current behavior is quite bad, I observed at https://github.com/ansible/ansible-language-server/runs/6947064789?check_suite_focus=true where it took me a large amount of scrolling (several screens) to spot the real error.

Do we really need to capture stdout and stderr separately or

[2022-06-22 12:46] andreynering commented on #130
@pinpox I kinda plan to work on these soon, likely as part of v4.

[2022-06-24 13:02] Trim21 opened #784 "Option to hide `task: Task "..." up to date`"
Current there is no way to disable this message

`silent: true` can't disable this message and also I'd like to keep the output of what command are actually executing.

Just like `make` should do, only show commands but not which make target is matched.

[2022-06-24 17:41] everactivetim opened #785 "Associative arrays do not work in properly"
- Task version: Task version: v3.13.0 (h1:H1LzM7Ac2Ixz26086sgN7xxueXHcjVwy7qt9BrboiTs=)
- Operating System: Ubuntu 22.04

I believe this is the result of this issue I filed with `sh`: https://github.com/mvdan/sh/issues/884

### Example Taskfile showing the issue

[code]

[2022-06-24 17:45] everactivetim commented on #785
Output of Taskfile:

[code]

Output from same as shell script:

[code]

[2022-06-26 19:22] ahus1 commented on #548
@ghostsquad: +1 for making the task definition part of the checksum (not sure about interpolations as a new user yet). I admit that I'm new to task, still the first thing I did was adding `Taskfile.yaml` as one of the sources (which would build to much).

[2022-06-26 20:44] ghostsquad commented on #548
For now, I'm including Taskfile.yml itself in `sources`. This is equivalent of using a sledge hammer when a rubber mallet would be sufficient.

[2022-06-26 20:49] ghostsquad opened #788 "Docs are not correct sources and status can co-exist"
Docs indicate that status overrides/precedes sources. But #477 says otherwise.

https://taskfile.dev/changelog/#v360---2021-07-10

[2022-06-27 04:47] ghostsquad commented on #785
May want to file this with https://github.com/mvdan/sh

[2022-06-27 08:12] Tiksagol opened #789 "Allow multiple users to run task from the same directory"
Hi,

The files in the checksum directory are created with user-write-permissions - https://github.com/go-task/task/blob/9eda1629bb72459580a156d52fa5f3dd15d93b7b/internal/status/checksum.go#L47

This prevents other users from run task later in that directory.

Would be helpful if it could be changed - either by default, by parameter, or by '--no-checksum' argument.

Thanks

[2022-06-27 08:37] ahus1 commented on #548
I know, and it wasn't fun. Next iteration was `task -f taskname`, but found that it also forces the dependencies of a task to run.

Current iteration: a small script that extracts each task from the `Taskfile.yaml` and use that as a source: once the task changes, run the task again. Works OK for now.

[code]

[code]

[2022-06-27 10:35] mefuller commented on #774
@andreynering @ssbarnea can we close this out?
`go-task` is in stable across all current Fedora releases: https://src.fedoraproject.org/rpms/golang-github-task

[2022-06-27 11:20] #774 closed

[2022-06-27 13:28] ghostsquad commented on #789
If you don't wish to write the checksums, don't use `sources`.

It's probably feasible to figure out a permissions model that relies on groups.

[2022-06-27 14:00] everactivetim commented on #785
I did. I thought you/users might want a tracking issue here until that is resolved since Taskfiles are broken for this use case until then. If not, ok.

[2022-06-28 09:43] lostkamp commented on #301
Hi @andreynering !
I have a similar problem with a task that looks like this:

`  deploy.api:
    deps: [set.k8s.context]
    cmds:
      - |
        helm upgrade {{.API_SERVICE_NAME}} {{.HELM_CHART_PATH}} \
         [...]
          --set-string service.token="{{.API_TOKEN}}" \
    vars:
      API_TOKEN:
        sh: kubectl get secret {{.K8S_SECRET_NAME}} -o jsonpath="{.data.api_token}" | base64 -

[2022-06-28 13:06] ghost opened #793 "ENV vars are not usable within other env var declarations"
- Task version: 3.13.0
- Operating System: linux

[code]

With the above yaml there it gives an error when running the prj task. The reason is that the variable MODULE_NAME was not evaluated before executing the basename cmd.
Currently they are not evaluated one by one, but all together, I think.
As maps by nature don't have a specific ordering it cannot be guaranteed that they are evaluated in th

[2022-06-29 07:27] ahus1 commented on #715
+1, seeing this as well on Linux in version v3.13.0.

Workaround for me seems to be to avoid using `run: once` to be able to use the `-C` option.

[2022-06-30 05:33] quantumfs opened #794 "Inversible"
Describe in detail what feature do you want to see in Task.
Give examples if possible.

Please, search if this wasn't proposed before, and if this is more like an idea
than a strong feature request, consider opening a
[discussion](https://github.com/go-task/task/discussions) instead.

[2022-06-30 10:29] ssbarnea opened #795 "Current snap does not have arm64 version"
While trying to use official docs to install on Ubuntu, I discovered that the snap provides is not as portable as I was hoping for.

[code]

As a side node, I would really wish we would have single `curl|bash installer` that is supposed to install taskfile on most platforms.

[2022-06-30 15:24] #794 closed, assigned to nobody

[2022-06-30 16:56] antdking commented on #521
How do we do this for global scoped envs?

Dotenv doesn't seem to be available within Vars, and is disregarded when evaluating the global env.

I know v4 is in the works, but could we see a subset introduced into v3.9 to allow better access to scopes in gotemplates, or a way to have dotenv explicitly override the global scope?

[code]

[2022-06-30 18:25] ghostsquad commented on #521
What needs to happen is that vars of all sorts need to define their own expectations, similar to `make`.

[code]

This variable will always have the value `bar` regardless of if it's set in the environment.

[code]

This variable will have the value of `bar` only if an existing `FOO` does not exist (or is empty).

The same thing needs to apply broadly. The typical CLI behavior for config is usuall

[2022-06-30 19:07] xTVaser opened #796 "Semver strings in `version` field are not supported"
- Task version: `3.13.0`
- Operating System: Windows

### Example Taskfile showing the issue

[code]

The documentation states that a semver string is accepted - https://taskfile.dev/taskfile-versions/#what-the-taskfile-version-mean and it seems that previous issues tried to future proof this https://github.com/go-task/task/issues/77 but it doesn't seem to be functioning as expected.

With the yam

[2022-07-03 21:44] ghostsquad commented on #794
I'm sorry, what?

[2022-07-04 13:40] #785 closed

[2022-07-04 14:52] andreynering commented on #795
Hi @ssbarnea, thanks for letting me know.

I've just configured ARM releasing to Snap: https://github.com/go-task/snap/blob/master/snap/snapcraft.yaml

It's even published for the last release, so let me know if it's working for you.

[2022-07-04 14:54] ssbarnea commented on #795
Thanks! It was clearly not urgent for me because I kinda hate snaps and avoid them whenever possible but I filed it because I found it, and others might endup with same error.

I will try it, maybe I can even check the different in speed.

PS. My fav install method is curl|bash on linux, because YOLO.

[2022-07-04 14:56] ssbarnea commented on #795
Seems to be working:

[code]

[2022-07-05 14:20] everactivetim commented on #785
@andreynering - Thanks to you for responding so quickly to the upstream fix. Happy to do my **small** part!

[2022-07-05 14:32] Tiksagol commented on #789
ok, thanks :)

[2022-07-06 13:45] #779 closed

[2022-07-06 13:48] andreynering commented on #779
Hi @ssbarnea,

Thanks for noticing. This is now fixed in master.

[2022-07-06 13:54] andreynering commented on #788
Hi @ghostsquad,

They can coexist. Look at this code:

https://github.com/go-task/task/blob/e36c77aaf3ed88be1583868288958bb272534fa0/status.go#L31-L61

If both checks are available, both need to pass for the task to be run.

If you think something is not working correctly, can you attach an example Taskfile that shows the issue?

[2022-07-06 13:58] andreynering commented on #548
Hi @ahus1,

Have you tried my suggestion done here? https://github.com/go-task/task/issues/548#issuecomment-941679515

I believe that's what you're are looking for.

[2022-07-06 16:39] ghostsquad commented on #788
@andreynering I'm pointing out that the docs don't reflect that these can co-exist. The docs need to be updated

[2022-07-06 19:40] ahus1 commented on #548
@andreynering - your suggestion will solve AFAIK the problem when a variable changes, as the labels changes with the variable. I don't know what will happen if the variable changes back to the old value: Would it then run again, or will the state with the old variable value / label name will be still there and it will not run?

This thread evolved form interpolating variables to also include the b

[2022-07-06 19:56] ghostsquad commented on #548
I think what is realistically needed is a "cache key". I don't know what _else_ that `label` does. But generally, if we are able to derive our own "key" to tied to the task itself, that means that we can invalidate the cache arbitrarily.

[2022-07-10 10:33] mrkeuz opened #804 "Cannot execute some shell builtin commands like "hash -r" or "command -V""
Cannot execute some shell builtin commands like "hash -r" or "command -V"  inside task.

Some scripts, like i.e. python `virtualenv` activate using these commands for correct propagate new PATH variable. So when you try `source {venv}/bin/activate` it fails on exactly on these command.

In other hand many other builtin commands works as expected: `echo`, `type`, etc.

[code]

- Task version: Task

[2022-07-10 19:18] ghostsquad commented on #804
each `cmd` is a separate shell. Sourcing a file in one does not carry over to the next.

[2022-07-10 19:19] ghostsquad commented on #804
For the remaining built-ins. Please file an issue with https://github.com/mvdan/sh

[2022-07-10 19:20] #804 closed

[2022-07-11 07:41] deepbrook opened #806 "On `--list`, show tasks in the root Taskfile first"
Currently, when running `task -l` the available tasks are listed alphabetically.
While this works for simple taskfiles, in cases with several includes and many compound tasks in the root file, I'd hoped that those tasks defined in the root taskfile are listed first (visually separated by an empty line).

Example:
Given two taskfiles to be included:
[code]

The files are included in the root taskfi

[2022-07-11 07:47] deepbrook commented on #806
Visually differentiating the included tasks by their prefix would also be neat - i.e. add a newline before each block of tasks with the same prefix. Helpful in bigger compositions, like this one:

[code]

[2022-07-11 08:39] AntoinePrv commented on #716
I found this issue looking for a clever way to set the number of CPU for `make` as well.
My idea was be to have a special `{{.CPU}}` value dynamically set by `task`.

[code]
Depending on other commands `task` would decide to allow more or less CPUs to each of them.
For instance with 4 CPUs `task a` would use them all, but `task --parallel a b` could split them 2 and 2.

[2022-07-12 22:03] sandboxcom opened #807 "Redirect is messing up order"
- Task version: Task version: v3.13.0 (h1:H1LzM7Ac2Ixz26086sgN7xxueXHcjVwy7qt9BrboiTs=)
- Operating System: Linux k8s-0 5.4.0-1085-azure #90~18.04.1-Ubuntu SMP Fri Jun 10 18:32:22 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

### Example Taskfile showing the issue
[code]

[2022-07-12 22:05] sandboxcom commented on #807
In the end, I just want a menu system that works here. So if someone has a working solution with dialog or anything else, that's fine for me. I'm not sure about how to handle the bug - it obviously has something to do with the redirects, but then what's the menu solution?

[2022-07-15 10:40] tennox opened #810 "Option to pass SIGINT to the command"
I have a task `dev` that runs the app's dev server. At some point I will want to stop it via CTRL-C - which is normally handled by the command itself by exiting without error:
![Screenshot from 2022-07-15 11-34-39](https://user-images.githubusercontent.com/2084639/179207087-4650337b-b710-4f17-9a83-029c458c8fdd.png)

When running the task via `task dev` though, `task` will treat the SIGINT as a kin

[2022-07-16 13:58] tennox commented on #810
Fair enough,

But with `v3.14.0 (h1:/00rpwoB+lo9ztU7MPa9aCDywZvrXaxXNR2BxvyEhwE=)` I still get
![image](https://user-images.githubusercontent.com/2084639/179357958-7ffce872-d0a1-4b26-beea-f44188e6c84a.png)

[2022-07-16 16:34] ghostsquad commented on #810
If you had to interrupt it, it didn't complete successfully. The exit code of the process is what task is looking at (afaik).

[2022-07-17 00:04] andreynering commented on #810
Hi @tennox,

When you send a SIGINT signal to Task, you're actually sending that signal to the whole process group, which means that all processes run by Task also receive the signal.

The message is saying it is working as expected, the called process exited after receiving the signal, with the said error code.

Let me know if you have more questions.

[2022-07-17 00:04] #810 closed

[2022-07-17 00:33] andreynering commented on #807
Hi @sandboxcom,

I'm sorry, but you're not supposed to call interactive apps inside a dynamic variable.

You can try moving the `whiptail` call to inside a multiline command somehow, but I haven't tried it.

[2022-07-17 00:33] #807 closed

[2022-07-17 00:53] andreynering commented on #806
Hi @deepbrook, thanks for opening this issue.

I'm not a fan of the `hide: true` idea.

I'm also not sure about having empty lines between groups. At minimum it would break the current completion scripts which use the outputs of `--list` and `--list-all`.

That said, moving all tasks in the root Taskfile to the top makes sense!

[2022-07-17 01:16] andreynering commented on #293
I'd love to get some help from the community on this one.

[2022-07-17 01:18] andreynering commented on #293
And to be clear, we already have completion scripts here: https://github.com/go-task/task/tree/master/completion

We just don't have a `--generate-completion` flag (or similar name).

[2022-07-17 09:26] renatoathaydes opened #812 "Same task dependency from multiple tasks run repeatedly instead of once"
- Task version: v3.14.0 (h1:/00rpwoB+lo9ztU7MPa9aCDywZvrXaxXNR2BxvyEhwE=)

- Operating System:

Darwin Renatos-Air 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64 x86_64

### Example Taskfile showing the issue

[code]

Result:

[code]

Expected result:

[code]

Task managers should generally create a graph of tasks without duplicates.

If `ba

[2022-07-17 09:45] postlund commented on #812
Set `run: once` (https://taskfile.dev/api/#task) for `foo` and it will work that way.

[2022-07-17 09:58] renatoathaydes commented on #812
Isn't `run: once` supposed to make it run once across multiple `task` invocations? If not, how do you do that instead?

[2022-07-17 10:02] renatoathaydes commented on #812
What's the purpose of having tasks run multiple times by default? I have not seen any other task manager that does that.

[2022-07-17 16:10] postlund commented on #812
Using `run: once` ensure the task is only run once no matter how many other tasks that depends on it. For me personally I prefer current default value. It is very common to pass variables to a task, which alter the task behavior, thus making multiple calls to the same task a valid case. A simple example would be a generic `build` task, accepting `BUILD_PATH` as an input to determine what to build.

[2022-07-17 22:36] gregorriegler opened #813 "Make watch interval configurable (currently fixed at 5 seconds)"
I have `gradle -t test` (this is watching for file-changes and then reruns the tests) and  `task test --watch` open at the same time and task is significantly slower. It reacts to filechanges about a second later, while gradles watcher is instant. Do you see an easy way to make it faster?

[2022-07-18 03:48] ghostsquad commented on #813
Can I ask you to provide a minimal reproduction for Gradle and Task so that benchmarks can be made and used for comparison?

[2022-07-18 10:56] gregorriegler commented on #813
[watch-slow.zip](https://github.com/go-task/task/files/9131344/watch-slow.zip)
So i made this zip.
In the left corner we have Taskfile
[code]

fighting against the oldschooler on the right corner: Makefile with inotifywait
[code]

run both, and change test.txt to trigger the task.

[2022-07-18 11:15] #812 closed

[2022-07-18 12:55] andreynering commented on #812
And just to clarify, along with `run: always` and `run: once` there's also `run: when_changed` to only run when something in the task changed.

[2022-07-18 12:56] andreynering commented on #812
Also, `run` can be set on the root of the Taskfile if you want this behavior for all tasks.

[2022-07-19 11:29] renatoathaydes commented on #812
Ah thanks! I was adding `run: once` to every single task :).

[2022-07-19 11:33] maritaria commented on #662
I noted it for completeness. The most likely case where you'd use this is in a CI script, those tend to be more verbose in program switches.

[2022-07-21 00:23] aminya commented on #693
I expect the task env to override the shell environment variables. The current behaviour is confusing.

[2022-07-21 07:30] deepbrook commented on #806
You know how they asay: if you need 5$, ask for 10$ ;D
Thanks for your consideration.

[2022-07-24 11:49] alex65536 opened #820 ""probably an cyclic dep or infinite loop" on huge graphs"
If the graph is large, you can get the following error:

[code]

The reasons are as follows:
https://github.com/go-task/task/blob/bf9cd7625bdc9510a309b09a3b47b0fd4b23ac8e/task.go#L110-L112
So, if we try to execute the task >= 100 times, then we crash.

The issue is that `RunTask` is executed once from each of the dependencies:
https://github.com/go-task/task/blob/bf9cd7625bdc9510a309b09a3b47b0fd4b

[2022-07-25 22:03] theunrepentantgeek opened #822 "Relative paths to included taskfiles not consistently resolved"
- Task version: v3.12.1 (h1:SmYDqaRgt9NOm/ogPaMviwckYCqCjbGek9DKF//5A2g=)
- Operating System: Ubuntu 20.04.4 LTS running under Windows 11 WSL

When resolving taskfile imports using relative paths, the base directory used to resolve the path isn't consistent, resulting in attempts to read the taskfile from the wrong folder.

## Example

Directory structure:
- `/path/to/project/Taskfile.yaml` # top

[2022-07-28 05:15] 4x0v7 commented on #680
I have a similar use case, but using `includes:`

When the calling taskfile has `silent: false` at Task level:

[code]

If an included taskfile has:

[code]

Then output is displayed, where I expect the included files `silent` to take precedence.

Swapping them over; calling task is `silent: true`, called task is `silent: false`, then there is no output.

I'm not sure how the `silent` option shoul

[2022-07-28 09:02] tennox commented on #810
Yeah, you're right.

So the issue seems to be that `task` returns exit code `1` but the command returns `130`
[code]

Since

Maybe there can be an option to return same exit code (can imagine other situations where this is useful)?

[2022-07-28 16:22] ynachi commented on #806
Hello @andreynering ,
I am very interrested working in this issue. I am entering the opensource contribution space and would also like to shape my Go skills.
Do you mind assigning it to me ?

Thanks

[2022-07-29 09:24] antdking commented on #822
I've also just run into this while setting up common tasks to share amongst all projects.

Tried to work around it by specifying a `WORKSPACE_ROOT` var, however there's no templating available for the taskfile parameter either (we need to be able to execute `task` from the workspace root and from project directories).

Thanks for flagging + preparing a patch, hopefully it gets released soon

[2022-07-29 13:55] andreynering commented on #806
Hi @ynachi,

Sure, just assigned it to you.

I'm not a fan of the separation necessarily, and as I said before, I fear that it would break the current completion scripts, so I would avoid it.

I'm opening to hear opinions if someone disagree, but I would just change the sorting of the tasks.

Perhaps sorting by tasks without an `:` first would be enough to do the trick (sorting alphabetically as t

[2022-07-29 14:40] ynachi commented on #806
Thanks. Ok let’s do the sorting part for now.

[2022-07-31 20:01] ghostsquad commented on #810
@tennox this is already available with `--exit-code` flag via #755

[2022-07-31 20:18] tennox commented on #810
Oh. Thanks 🙈

[2022-08-01 14:31] MarioSchwalbe opened #825 "{{.TASK}} remains in task listing"
### Versions

- Task version: v3.14.0
- Operating System: Mac OS X 10.15.7

### Example Taskfile showing the issue

[code]

Run:
[code]

Notes:
- Both tasks are intended to be called from the command-line but also embedded within other tasks by passing their task name as variable `TASK`.
- The task `DoesNotWork` fails if run without the parameter (which is expected):
[code]
  The task `DoesWork` w

[2022-08-02 09:24] MarioSchwalbe commented on #806
About hiding tasks. A more flexible solution would be to automatically hide task whose `desc:` expands to the empty string. This way one could pass a variable at the include site to selectively hide all or a selection of tasks. Currently this is not possible, because tasks with empty descriptions are shown:

[code]

Test:
[code]

[2022-08-03 00:37] mbergal opened #826 "task does not follow directory symlinks when checking for dependencies"
- Task version:  v3.14.0
- Operating System: Ubuntu 20.04

### Example Taskfile showing the issue

See https://github.com/mbergal/task-symlinks-example

[code]

[2022-08-04 01:00] #822 closed

[2022-08-04 01:51] andreynering commented on #826
Hi @mbergal, thanks for reporting!

If anyone is interested, contribution is welcome with this one.

[2022-08-04 01:57] andreynering commented on #825
Hi @MarioSchwalbe, thanks for reporting this bug.

IIRC templating is skipped completely for `--list`.

We already have a more lightweight variation of the function that does templating (which is faster because it skips shell commands from running). We could consider doing that for this use case as well.

[2022-08-04 02:05] andreynering commented on #813
Hi everybody,

I believe that having an attribute on the Taskfile (and possible a flag, too) to have a different polling interval would do the trick here.

We could also consider switching to a library that uses the OS notification API, but I wanted to avoid it initially because it may behave differently based on the user's OS.

[2022-08-04 02:06] andreynering commented on #788
@ghostsquad Can you submit a PR?

[2022-08-04 13:18] ilewin commented on #826
I'd like to give it a try.
There is a similar issue in mvdan.cc/sh (shell interpreter used in task)
https://github.com/mvdan/sh/issues/843

[2022-08-04 13:24] kponichtera commented on #215
There are legitimate use cases where having access to the Taskfile's working directory would be useful - for example mounting the working directory to Docker container. When specifying volume, Docker requires an absolute path of the directory to be specified. The current workaround for this is to do as follows:

[code]

However, the problem arises when there are two tasks like that, executed in pa

[2022-08-04 14:29] andreynering commented on #215
@ghostsquad I believe we could have two variables: `ROOT_TASKFILE`, `CURRENT_TASKFILE` or something similar.

Sorry for taking so long to work on this, we just have too many opened issues to triage.

This seems to be easy and requested enough that will just put at the top of my priority list.

But if in the meantime, if someone else would like to contribute with this, just let me know.

[2022-08-04 14:36] ssbarnea commented on #215
I was thinking about `.PROJECT_DIR` and `.TASKFILE_DIR`, with the mention that the last one implies "current taskfile dir" but I am sure I could live with any variable names, still try to avoid confusing user with a variable name ending in file (TASKFILE) if that is a directory ;)

[2022-08-04 14:42] andreynering commented on #215
Ah, of course, I missed the `_DIR` prefix, we certainly need it.

My point was about having two variables.

👍 for `PROJECT_DIR` (alternatively `ROOT_DIR`) and `TASKFILE_DIR`

[2022-08-05 04:23] gregorriegler commented on #813
I use watchexec and just for right now.
So I'm not waiting for this.
But I think it could be beneficial for you to have it built in. Easier setup and scripting for users.

Do you say 'may' because we're not sure? In that case I recommend trying
For the thing I'm doing I'm not sure if an interval would be sufficient. But maybe it's worth trying, too

[2022-08-05 09:58] Nantero1 opened #828 "Paths are not correctly resolved when using "dir""
- Task version: v3.14.1 (h1:myTmEIbMbQx2D+g5lJvnbSqX531HmxiaQuefAqz8ISA=)
- Operating System: 46 ~20.04.1-Ubuntu SMP Thu Jul 14 15:20:17 UTC 2022

Since minor version v3.14.1 we have problems to chdir into the correct directory using the following setup. Version 3.14.0 had no issues.

### Example Taskfile showing the issue

Directory structure:
[code]

`Taskfile.yaml`:
[code]

`Generic.yaml`:
[cod

[2022-08-06 20:48] lucasfcnunes commented on #828
I was planning to report the same thing. Thanks!

[2022-08-06 21:29] andreynering commented on #828
Hi @Nantero1 and @lucasfcnunes,

I just took quite some time debugging this issue, and it's a bit tricky to fix. I'll write it here to help myself when I back to this.

The source of the problem is that you're using a value in `dir:` that starts with a template like `{{.DIRECTORY}}`.

There's a place in the code where the Taskfile dir in joined with the task dir like this:

`/path/to/project` + `s

[2022-08-08 06:02] dkryptr opened #830 "Duplicate dynamic variables in multiple included taskfiles are overwritten"
- Task version: >= 3.2.1
- Operating System: WSL2 - Ubuntu 20.04

I believe this is a regression in functionality.

I have a monorepo that I haven't touched for around 6 or more months. I upgraded and narrowed down the version that the issue was introduced (v3.2.1). Each project is in its own folder with a taskfile that declare dynamic variables. There's a root Taskfile.yml that includes each proj

[2022-08-09 18:45] ivotron commented on #703
hello! adding my selfish list of requests:
  * allowing to override env variables (https://github.com/go-task/task/issues/482)
  * support plugins to allow sharing of tasks. or define a list of built-in tasks to e.g. install tools like asdf
  * natively supporting running tasks in containers

thank y'all!

[2022-08-09 19:14] amancevice commented on #703
@ivotron the way I've gotten around your second point is to keep tasks in users' home directories and reference them there:

[code]

[2022-08-09 21:35] ivotron commented on #703
thanks @amancevice. I meant sharing at community level, like ansible's galaxy or homebrew's formulas but for tasks

[2022-08-09 21:48] amancevice commented on #703
oh, ha, yeah that's a great idea

[2022-08-10 14:52] cdfa opened #833 "Bring global variables into scope of include paths"
I would like globally declared variables to be in scope for expansion in `include` paths. I know something similar was requested in https://github.com/go-task/task/issues/670 and rejected, but I'm specifically asking for globally declared variables in the Taskfile, not environment variables.

For example, I would like to be able to abbreviate long paths with variables and use them in includes:
[co

[2022-08-10 20:18] ToshY commented on #389
@ghostsquad could you give an ETA on v4?

[2022-08-10 22:25] ghostsquad commented on #389
Due to some divergences in priorities, I've decided to start a new project, https://fngo.dev. It's still in the early stages, as I explore the space, and get a better understanding of current problems, and how I want to solve those problems.

I would say an ETA for the release of `fn` would likely not be for a few more months. Thanks for your interest!

[2022-08-11 05:28] noqqe commented on #389
Could you give some more details on what that means for `task` in the future?

[2022-08-11 13:00] Zebradil opened #834 "Shell pipes and multiline yaml strings"
- Task version: v3.14.1 (h1:myTmEIbMbQx2D+g5lJvnbSqX531HmxiaQuefAqz8ISA=)
- Operating System: x86_64 GNU/Linux 5.18.16-arch1-1

### Example Taskfile showing the issue

[code]

There is a clue in the output of go-task:

[code]

Notice:
- the last lines of the `fail` task are joined together;
- the multiline string marker is `>` for every task except `ok-again`, where it's `|`.

Expected behaviour:

[2022-08-11 14:13] andreynering commented on #389
Better to make it clear: I'm the principal maintainer of Task and nothing will change, Task will still be maintained. fngo is an unrelated project by @ghostsquad.

Regarding v4, I couldn't really start it yet because I've being working more on stuff that's possible to ship sooner on v3. In fact, we don't necessarily need to wait for v4 to have this specific feature (I don't know yet if it's more l

[2022-08-12 12:01] ssbarnea commented on #834
Read https://yaml-multiline.info/ very well, AFAIK there is no bug about this in taskfile and taskfile should not attempt to do any magic processing anyway. I did not check the codebase but I bet that it is using a standard YAML loading library, as few people are brave enough to attempt to parse YAML themselves.

[2022-08-12 12:16] ssbarnea opened #836 "RFE: Allow use of wildcard or regex in task names (dynamic task names)"
In order enable taskfile to a viable replacement for some more specialized test runners, such tox or nox, we need to allow it to accept task names that are using a pattern (regex or glob), so users would not have to copy/paste task definitions when creating test-matrixes.

A very easy to explain example is that tox accepts tasknames like `py`, `py36`, `py311` without forcing user to explicitly def

[2022-08-12 13:14] Zebradil commented on #834
@ssbarnea thanks for taking a look at this issue.

You're right, I missed that:

Taking into consideration this note, it seems to work as expected according to the YAML standard.

[2022-08-12 13:14] #834 closed

[2022-08-13 05:44] ivan-kleshnin commented on #836
👍

 I have the following in my `Makefile` as I don't want to repeat the command N times:

[code]

Looking for something similar in the `Taskfile.yml`.

[2022-08-15 09:52] abrahammurciano opened #837 "Show which sources changed when running a task with verbose"
Just like when you have a task with status checks, and you run it with -vv, it will log that it ran the command and show the status code, it would be useful if it also shows which sources were updated and which were not.

For example it would help me debug why a dependency of a task is running again after it was just run explicitly and all the status checks exited zero. I'd like to know which entr

[2022-08-16 06:05] theunrepentantgeek commented on #836
Using regular expressions would open up a whole raft of complex edge cases, purely because regular expressions are so powerful. I suspect there'd also be some funky encoding issues (esp around `"` and `'`) embedding them into YAML files as well.

Allowing a simple `*` wildcard would be easier to explain, while still quite powerful.

Just to toss out one possible approach ...
* Each `*` could be ca

[2022-08-16 06:33] ssbarnea commented on #836
I am inclined to advise making "found multiple matches" as well as "no matches" a runtime error, just to avoid confusions like you described.

This could also play well with an option that would allow minor typos in task names based on their name, like `guess_task_name(input)`, where the same rule applies return value only if one and only one is found. Obviously that this interactive auto-correct

[2022-08-16 11:15] MarioSchwalbe commented on #716
Hi, I'm also running C++ build systems (`meson`) on my CI with task. Since, they already build in parallel what is the actual benefit of any more parallelization within task? I simply run tasks sequentially doing the equivalent of (instead of `deps`):
[code]

[2022-08-16 11:35] MarioSchwalbe opened #839 "Wrong shell execution directory for task-local variables"
- Task version: Task version: v3.14.1 (h1:myTmEIbMbQx2D+g5lJvnbSqX531HmxiaQuefAqz8ISA=)
- Operating System: Ubuntu 22.04, Mac OS X, Windows 10

### Example Taskfile showing the issue

We need 2 taskfiles. The primary taskfile contains.
[code]

`Util.yml` is:
[code]

Running this setup results in:
[code]

### Explanation

If running task in `/home/mario/GoTask/Bugs/ExecDir` the task `top:Setup` mus

[2022-08-16 12:59] AntoinePrv commented on #716
Hi @MarioSchwalbe, in my case I would have a certain number of tasks that can be parallelize, not only `make` tasks.
My goal is to get `n_cpu(make) + n_cpu(Task) == N`, that is when `make` is not running, I still want to leverage parallelism from `Task` (so sequential is no good), but if `Task` is doing some things in parallel, I do not want `make` to use more than the remaining idle CPUs. Does `-

[2022-08-16 13:37] MarioSchwalbe commented on #716
I don't think this is (directly) possible right now. However, the sequential approach I proposed above would only run 1 instance of parallelized make at a time. That means you can combine the task to sequentially run all `make`s (called `default` above) next to other non-parallel tasks and end up with only 8 processes from `make` in 1 task plus 7 processes from other tasks (== 15). This should be

[2022-08-16 14:12] abrahammurciano opened #840 ".task/checksum is not created after running a task whose status checked returned non-zero"
- Task version: v3.12.1 and v3.14.1
- Operating System: Ubuntu 18

### Example Taskfile showing the issue

[code]

### Steps to reproduce

[code]
I suspect the issue has to do with the fact that the first time status command exited 1. If I remove the status command or replace it with "true" the .task/checksum is created the first time.

[2022-08-16 18:46] eli-schwartz commented on #716
There's two possible resolution concepts here:
- in cases where you might parallelize too much, refuse to parallelize
- parallelize exactly enough, and then personally take responsibility for scheduling all jobs

Refusing to run make multiple times, because it might use too much, means you're dropping some parallelization potential on the floor. It's not ideal, but it's better than bringing the CP

[2022-08-19 04:37] theunrepentantgeek commented on #840
Is the problem perhaps that `status` and `sources` are two _incompatible_ ways to do the same thing - decide whether the task needs to be run or not.

Assuming `Task` is supposed to accommodate both being present (*) , what semantics should they have?
(*) This isn't proven; the bug might be a missing validation rule rejecting the task if both are present.

* Run the task if _either_ `status` _or_

[2022-08-19 04:44] theunrepentantgeek commented on #836
Quoting in YAML is straightforward.
Quoting in Regular expressions is also straightforward.
Quoting a Regex when it's embedded in YAML? That's a far more complicated beast because the different quoting rules interact.
Even if you get the quoting correct, what's in the YAML file wouldn't be the original regex, but something that's harder to read.
I don't know about you, but I'm not in favour of any

[2022-08-19 08:26] abrahammurciano commented on #840
The current behaviour of task already answered most of those questions.

As can be seen in my second invocation above, The status check exited zero indicating up to date, but the checksum didn't exist indicating not up to date, and task concluded that the task was not up to date. Thus the task should run if _either_ status or sources says it needs to be run.

Also, as can be seen in my examples, s

[2022-08-19 08:28] abrahammurciano commented on #840
The bug here is that after the first successful run, the `.task/checksum` folder wasn't created.

[2022-08-19 08:41] pimjansen commented on #293
@andreynering how to load that into ZSH?

[2022-08-20 10:42] core-dev-crypto commented on #100
Hello @andreynering ,

I would like to contribute to the project and improve my Go skills

I think it is a good issue to start. Do you mind assigning it to me ?

My idea is to implement a function from `Outf` that return the string read from `STDIN`. I have two doubts:

- Which kind of input? Buffered (need a CR) or unbuffered (like a keypress). I think to use buffered input so the user must press

[2022-08-21 04:44] ghostsquad commented on #840
I agree, task should evaluate both status and sources/generates, and run if either either don't meet expectations. I'll have to look at the code, but I suspect that whatever is doing this evaluation is simply returning as early as possible (e.g. status is happening first).

[2022-08-21 06:16] abrahammurciano commented on #840
Can confirm that's not the case. Both are always checked and the task is run if either says it should run.

Again, I emphasize **the bug here is that after the first successful run, the `.task/checksum` folder wasn't created.**

[2022-08-22 06:16] varac opened #842 "Install script is not preperly detecting the ARM v7 architecture"
Currently, Taskfile doesn't install on RPi 4 (armv7):

[code]

Please provide armv7 binaries.

[2022-08-22 14:22] C0rn3j commented on #697
@andreynering

At this point, it's consistently broken everywhere.

On Arch Linux User repo, the packagers have also renamed `task` binary to `go-task` due to taskwarrior conflicts.

https://aur.archlinux.org/packages?O=0&SeB=nd&K=go-task&outdated=&SB=p&SO=d&PP=50&submit=Go

For backwards compatibility and consistency, would shipping a binary + symlink to `task` not be a good solution?

In a few m

[2022-08-23 02:32] ghostsquad commented on #697
@C0rn3j this is a well written comment. It only address a subset of people though:

Those that use taskwarrior and task through the same package manager.

Where would the symlink be installed? I don't quite understand how this is backwards compatible.

There are other ways to maintain/install either binary.

Can you help me understand the finer details of this proposal?

[2022-08-23 08:40] C0rn3j commented on #697
Currently, ignoring other things, binary is installed as /usr/bin/task on Linux.

This will be renamed to `/usr/bin/taskfile` (or `go-task`, or whatever name is settled on), and symlink will be made with `/usr/bin/task` ponting to `/usr/bin/taskfile`.

Documentation will be changed to reflect this, warnings will be put in that it is now not `task` but `taskfile` and that `task` will not work in th

[2022-08-23 15:03] ghostsquad commented on #697
I support this. @andreynering ?

[2022-08-23 16:04] filbotblue opened #843 "Unable to use env and vars in the same task definition"
# Information

- Task version: (installed by RPM)

[code]

- Operating System: Fedora Silverblue 36 and Toolbox

[code]

### Example Taskfile showing the issue

[code]

# Output

When using the YAML file above, I get the following

[code]

The second part of this is missing. However, if I place the `env` section at the root level of the YAML file, it works as expected.

[2022-08-23 16:15] maxpushka commented on #757
I think the issue can be closed now as PR that fixes the bug is merged

[2022-08-23 16:57] MarioSchwalbe commented on #830
Some remarks:

1. It is quite hard to match the source and the output. The source prints the version, but the output shows paths.
2. Global variables (even in multiple files) share the same namespace (scope) and overwrite each other. So you will always get the last definition of `VERSION`.
3. If the variable is defined within the task, you might experience: <https://github.com/go-task/task/issues/

[2022-08-23 21:43] #826 closed

[2022-08-23 21:44] andreynering commented on #757
Thanks @maxpushka!

[2022-08-23 21:44] #757 closed

[2022-08-24 06:17] ilewin commented on #813
I'd like to give it a try.

[2022-08-24 22:26] orenmazor opened #845 "Make "--list" and "--list-all" output colored"
I'd like my taskfiles to be used as their own manpages.

So I could have folks look at my project, and run `task -a` or `task --sumarize` and it prints a nicely formatted output of what's available.

Right now this is what I get:

![Screen Shot 2022-08-24 at 6 24 16 PM](https://user-images.githubusercontent.com/384279/186534114-78498778-8a14-4de6-a4c6-ea6c2f576512.png)

which is awesome as a start

[2022-08-25 13:43] mriegler opened #847 "Taskfile schema fits multiple variants error"
- Task version: 3.12.1
- Operating System: macos x64

Using the current schema complains that multiple variants fit the same file.

This was caused by #757 because using the schema from before that commit works fine.

### Example Taskfile showing the issue

[code]

[2022-08-25 16:04] altosys commented on #770
This is definitely needed, I'm currently storing my included taskfiles in a submodule, and it's a constant pain to keep updating the submodule reference. Fetching it using git or the public APIs for Gitlab/Github would alleviate this issue pretty much completely, especially if it would be possible to use git references like branches, tags or commits to choose what to track.

[2022-08-26 08:59] drorata commented on #293
Adding on @pimjansen, I simply tried to add https://github.com/go-task/task/blob/master/completion/zsh/_task to my `.zshrc` but it didn't work. The error I got is:

[code]

@andreynering any idea?

[2022-08-26 09:15] antonio-antuan opened #850 "cannot override vars from console"
- Task version: 3.14.1.r21.g421cb52-1
- Operating System: archlinux

### Example Taskfile showing the issue

[code]

I'm trying to override variable `BAR`:
[code]

Is there any way to do it?

[2022-08-26 20:17] sisp commented on #160
I'd also like to run a dev server while watching for changes to rebuild some other dependencies that the dev server doesn't watch itself. +1 for waiting for a graceful shutdown before re-running the ongoing task.

[2022-08-27 15:22] MrWormHole commented on #850
Hello @aCLr

If you want to override vars, you would be using go templates more like this

[code]

[2022-08-28 05:31] aCLr commented on #850
Thanks for your help, it is more clear now.

BTW is it a good idea to make it possible to override variables in a way, introduced in my previous message?

[2022-08-28 11:03] MrWormHole commented on #850
yea ofc, it is best to use them with default parameters tho, whole purpose of taskfiles is to shorten commands

[2022-08-28 14:01] andreynering commented on #703
Hey everyone! 👋

I've been struggling to find enough time to make significant development on a next major version.

Because of this, and having in my own mental health in mind, I've decided to close this issue for now, to avoid any expectations that we'll see a v4 soon.

What this means is that, in the foresable future, I plan to focus mostly on stability and small features that fit the current v3

[2022-08-28 14:02] #703 closed

[2022-08-28 20:55] ghostsquad commented on #703
@andreynering ya, I haven't even had very much time to work on my own implementation.

[2022-08-30 10:28] aCLr commented on #850
I mean in *my* previous message. Intuitively I want to define a variable with `vars` and after that I want to redefine it with cli-arguments.

`default` is usable but I want to say that redefining can be an option to. You can consider it as a feature request :)

[2022-08-31 06:02] Place1 opened #852 "Make run:once work for dependencies shared amongst included taskfiles"
I'm currently working in a mono-repo of sorts and each of our services/libraries has a Taskfile with a "build" task.

When a service depends on a library we use "includes" and "deps" to make sure the library is built before the service is built.

We also have a root Taskfile that includes all service Taskfiles and calls their build task in a deps array.

This works really well but we've found that

[2022-08-31 14:10] andreiborisov opened #853 "fish shell support"
Is it possible to write commands using a different shell, mainly fish?

[2022-08-31 14:20] dominik-lekse commented on #830
@dkryptr Thanks for describing the issue precisely.

I have encountered the issue recently in a similar structured repository. Tracking it down was not straightforward.

The `Taskfile.yml` of each sub project is included in the root `Taskfile.yml` while the `dir` attribute points to path of a sub project.

[code]

[code]

Within this context, the observed behaviour is as follows.

[code]

The reas

[2022-08-31 19:05] dominik-lekse commented on #830
@MarioSchwalbe I understand that in the use case you presented, you want to optionally override global variables in a parent Taskfile by global variables in an included Taskfile. For this case, overrides make sense

In contrast, in the use case, in which two Taskfiles are included in a parent Taskfile, the overrides should not occur.

I want to share some additional findings:

1) Dynamic variable

[2022-09-02 11:00] Northburns opened #854 "Doubt about static/dynamic `env` and tasks with `dir`"
- Task version: v3.14.1 (h1:myTmEIbMbQx2D+g5lJvnbSqX531HmxiaQuefAqz8ISA=)
- Operating System: Windows (I have busybox installed for ls, printenv, etc)

### Example Taskfile showing the issue

[code]

Running `task setup` sets up files for the demo. Execution:

[code]

It looks like if I run the `default` task, the envs are evaluated in the taskfile's directory. If I run `t1` task, the  envs are ev

[2022-09-02 11:16] Northburns commented on #854
Super-tiny update: I refactored my global `env`s to be global `var`s, and what I really needed as an env var I setup as a task local `env`. This works as I expected, it seems 🤔 But yeah, still interested in this, but I'm of course not putting any pressure here 😄

[2022-09-02 13:17] andreiborisov commented on #853
But how would I specify which shell I want to use? I don't see it the documentation.Just to be clear I meant to write actual commands in `Taskfile.yml`.

[2022-09-02 13:23] andreynering commented on #853
Hi @andreiborisov,

That's not supported. Under the hood we use https://github.com/mvdan/sh which supports POSIX, Bash and mksh only (Task uses Bash).

I'll close this as not planned, but I'd still like to know: why would you like to use Fish instead? Bash should be sufficient most of the time.

[2022-09-02 13:23] #853 closed

[2022-09-02 13:43] andreiborisov commented on #853
@andreynering the reason is mostly existential😄

Bash scripts proved to be brittle and hard to maintain for us, so we banned their usage in the company altogether. On top of that, young engineers who grew on modern languages are baffled by the arcane old syntax and sensibilities of Bash. Sure, for simple commands there is almost no difference, but in practice, it is easier to not use it at all.

[2022-09-03 15:21] core-dev-crypto commented on #456
Hi @marco-m

I've fixed previous issue #363 (I'll do the PR ASAP) and I checked your template. My fix works with _without-template_ cases but after fixing your `Taskfile`: `ignore_error` is misaligned. (see bellow)

If I align the `ignore_error`in the task with _with-template_ cases taskfile raise an error `line 32: cannot unmarshal !!str `{{if .I...` into bool`. This because `ignore_error`is a `b

[2022-09-03 19:55] aCLr opened #856 "cannot use vars with sources\generates"
- Task version: 3.14.1.r21.g421cb52-1
- Operating System: archlinux, core 5.19.5

### Example Taskfile showing the issue

[code]

When I call `task gen:foo` it proceses errors:
[code]

[2022-09-03 20:04] andreynering commented on #856
Hi @aCLr,

This is a YAML parse issue. You need to quote `{{.SRC}}` and `{{.SRC}}` to avoid fix this:

[code]

[2022-09-03 20:04] #856 closed

[2022-09-03 21:18] #215 closed

[2022-09-03 21:19] andreynering commented on #215
This was just implemented as part of #857. I plan to do a release still today.

[2022-09-04 15:48] aCLr commented on #856
Thanks for your help

[2022-09-05 11:04] m110 opened #858 "Getting "is a directory" for Task v3.15.0"
- Task version: v3.15.0
- Operating System: macOS 12.2, Ubuntu

### Example Taskfile showing the issue

[code]

Hey!

We've started getting a weird error message after upgrading to v3.15.0 (v3.14.0 works fine).

[code]

It seems the issue is with loading `dotenv` which we use like this:

[code]

I'm not sure if that's a documented feature and if it was working by accident or is an actual bug. We'r

[2022-09-06 08:19] postlund opened #860 "TASKFILE_DIR always resolves to ROOT_DIR"
- Task version: Task version: v3.15.0 (h1:k1s4CXeADCJyRt8tR67XC+gusYR0BL6d/r3AIOeE98c=)
- Operating System:Linux 5.10.102.1-microsoft-standard-WSL2

### Example Taskfile showing the issue
I'm trying to use `TASKFILE_DIR` in an included `Taskfile.yml` file but it always seems to resolve to the absolute path of the root `Taskfile.yml` file.

**/home/postlund/foo/Taskfile.yml**
[code]

**/home/postlu

[2022-09-06 14:10] andreynering commented on #860
Hi @postlund,

It will return the right directory if you change the execution directory to be the subdir as well:

[code]

To me the current behavior is the expected, and we could improve the documentation to make it clearer.

But if anyone disagree, let me know.

[2022-09-06 15:49] postlund commented on #860
@andreynering Ok, then I understand (I think). Is there any reason why it wouldn't always point to the directory of the `Taskfile.yml` it is "used" in instead? At least to me that seems way more obvious.

[2022-09-06 17:05] ameergituser commented on #860
@andreynering Hi, I feel that the default behavior should be that the tasks are run from the location of the specific included taskfile.

This is the behavior if you run that specific taskfile on its own.

It's also the behavior if you only use one taskfile.

For me it is a secondary function to run tasks included in other taskfiles in the root of the parent taskfile.

I use task as a build tool a

[2022-09-06 18:01] andreynering commented on #860
@ameergituser We could consider changing the default behavior in the future, but on v3 it would be a backwards incompatible change, so we need at least to wait for v4 (which I think will take a long time to happen).

Also, note that the expected behavior change from user to user. I've seem many people having a directory like `.taskfiles/` and including them on root expecting those tasks to run on

[2022-09-06 18:09] postlund commented on #860
@andreynering Maybe the behavior could be altered via a global setting? Just like you can change `run` for instance.

[2022-09-06 19:09] ameergituser commented on #860
@andreynering I agree with you on the breaking backwards compatibility issues, and the use case aspect.

[2022-09-08 13:22] jfwilkus opened #862 "Bash completion: _init_completion: command not found"
- Task version: v3.15.0 from homebrew tap
- Operating System: macOS 12.5.1
- Bash: 5.1.16

It seems after the upgrade to 3.15.0 from 3.14.1, bash-completion is not working and I get the following error message after I hit tab to autocomplete tasks.

[code]

[2022-09-08 13:59] andreynering commented on #862
/cc @MarioSchwalbe Any idea if your changes could have caused this?

[2022-09-08 14:31] MarioSchwalbe commented on #862
Yes and no. It is true I used another initialization function `_init_completion` instead of the previous one. However, since I'm on Mac OS as well, I can confirm this is working. The function is defined in `/usr/local/share/bash-completion/bash_completion` line 728 (provided by the package `bash-completion@2`), but the completion framework must be loaded first.

@jfwilkus: Are you using the old ve

[2022-09-08 14:39] jfwilkus commented on #862
@MarioSchwalbe Yes, I was using the old version. Just upgraded to `bash-completion@2` and all is working now.

Thanks for the quick responses!

[2022-09-08 14:39] #862 closed

[2022-09-08 19:07] pd93 commented on #858
@m110 Thanks for the report. I've opened #866 which should address the issue.

[2022-09-08 19:37] pd93 commented on #854
@Northburns the [`env` keyword](https://taskfile.dev/usage/#environment-variables) does not officially support the `sh` subkey. To get around this, you can set a variable using `sh` and then set the environment variable using templating syntax. The following works for me:

[code]

[2022-09-08 23:58] #858 closed

[2022-09-09 14:26] pd93 commented on #850
@aCLr unless I'm misunderstanding your message, you can achieve exactly what you are asking using @MrWormHole's suggested method. The [variables documentation](https://taskfile.dev/usage/#variables) describes this behaviour in the section: `sending parameters with environment variables`.

See example below:

[code]

Run task normally (sets default value to "foo"):
[code]

Run task with variable ov

[2022-09-10 15:09] pd93 commented on #843
@filbotblue `env` variables are made available to your _shell_ rather than the templating engine, so to echo the value, you would do `echo {{.FOO}} $BAR` instead of `echo {{.FOO}} {{.BAR}}` as per [the documentation](https://taskfile.dev/usage/#environment-variables).

Looking back through previous versions, outputting task-level `env` variables via the templating engine has never worked and is no

[2022-09-12 12:55] andreynering commented on #204
Idea: just like the `setup:` proposal above, having a `cleanup:` setting (needs to think if it's the best name) to run _after_  each task could make sense as well.

[2022-09-12 21:32] andreynering commented on #843
In theory this is a bug, but I would discourage the use of `env` for this propose. Why not use `vars`? `env` should be used to make environment available to the _commands_  you're running.

[2022-09-15 15:44] ilewin commented on #764
I'd like to give it a go. And since I know TS I'll see if I can come up with an extension.

[2022-09-15 16:19] ssbarnea commented on #764
@ilewin We already have an [extension](https://marketplace.visualstudio.com/items?itemName=iulian-radu-at.taskfile-launcher), we only need to make taskfile produce json, so it would more future proof.

[2022-09-15 16:25] ilewin commented on #764
@ssbarnea Great! I'll do my best with JSON output then.

[2022-09-15 16:42] andreynering commented on #764
As said on https://github.com/go-task/task/discussions/753, we actually have two extensions maintained by the community.

Once we have this JSON output working, perhaps we should have an official one to give it more tracking and avoid confusion on which one is preferred. For this, I'd like to have volunteers, though, as my plan is to focus my time on Task itself.

[2022-09-15 20:27] npac commented on #760
@andreynering Do you think this issue is related to #828 ?

[2022-09-17 16:57] andreynering opened #867 "Show "Did you mean ...?" message when user mistypes a task name"
This is a proposal to suggest the most similar task(s) name(s) when a given task does not exist.

[code]

This sounds like a good package to use for this: https://github.com/sajari/fuzzy.

[2022-09-17 17:02] andreynering commented on #845
Hi @orenmazor,

This sounds like a reasonable feature request.

We just have to keep in mind that we need to respect `--color=false` or `env NO_COLOR=1` if given, by skipping colors if asked.

[2022-09-17 17:09] andreynering commented on #842
Hi @varac,

Does the binary work in your machine if you download `task_linux_arm.tar.gz` from the [releases page](https://github.com/go-task/task/releases)?

I'm trying to understand if the problem is the binary or just the download script.

We use v6 for ARM binaries which is the default on Goreleaser.

[2022-09-21 09:31] ath88 opened #870 "Suggestion: Publish task as an npm package"
Hello there,

We have several node.js projects where we would love to use task as our task runner. But - that would require every developer to install task on their local development host. Usually we include development dependencies in the `package.json`-file of our projects. There are tools we can't install this way, such as docker, but it'll be an easier sell in the team if we can just add it in

[2022-09-24 00:39] andreynering commented on #870
Hi @ath88,

I liked the idea, so I just gave it a try and it seems to be very simple indeed, so I'll commit to do that.

I opened a PR with the WIP work on it: https://github.com/go-task/task/pull/871

I used of fork of the package you indicated because it's more maintained (see https://github.com/sanathkr/go-npm/issues/15).

There's a contribution I just made which is a blocker to make it work on

[2022-09-26 15:23] varac commented on #842
I just tried the latest `task_linux_arm.tar.gz ` on a `Raspberry Pi 4 Model B Rev 1.1` (armv7l) and it works.
So it must be an issue with the installer script.

[2022-09-27 16:00] sdemura opened #872 "Specify minimum required task verison."
While the `version:` key is nice to specify the Taskfile schema version, it would be nice to have some option to define a _minimum_ required task version to run a task.

For example, a recent change introduced `.ROOT_DIR`, which is incredibly handy for how I leverage task for my team, but many of my devs are stumbling over that as they haven't bothered to upgrade task yet.

I propopse that in in t

[2022-09-29 10:51] ibes commented on #289
Would there be a way - similar to the bash file - where I can tell for my project to always attach my project taskfile in the command?

Hm - likely the flaw on this way is, that the bash command needs to be global or can only be used by on project.
As otherwise: How does the script know if it is supposed to do stuff.

There could be a config file for the bash script.

If somewhere within this path

[2022-09-29 13:39] endigma opened #873 "Buildkit style output"
Task could be able to organize the tasks to be run in a list and show output similar to how buildkit does, showing full output while running or when failed but hiding output once a task succeeds, this could be an output mode similar to the existing ones. It should be configurable to allow for section prefixes as well. If task is able, it could pre-compute the "execution plan" of a particular task

[2022-09-29 17:39] pd93 commented on #845
@andreynering @orenmazor This seemed like low-hanging fruit, so I've done a quick first draft (see the [associated branch](https://github.com/go-task/task/tree/845-colorize-output) and screenshots:

![image](https://user-images.githubusercontent.com/9294862/193102831-d80dc4ef-fa6a-4fd0-9eee-f3dd6febf191.png)

![image](https://user-images.githubusercontent.com/9294862/193102909-6a8c5dde-17c6-4e1c-9

[2022-09-29 17:42] pd93 commented on #845
Sidenote, I noticed that `logger.Outf` automatically adds a `\n` to the input string. I'm not a fan of this behaviour as it gives less control to the caller. The new `logger.FOutf` function does not do this to mimic the behaviour of the standard `fmt.Printf` functions and this allows me to use multiple colours on the same line.

I've left the existing `logger.Outf` functionality as-is for now, but

[2022-09-29 20:07] kovan opened #875 "cannot unmarshal !!seq into struct { Sh string }"
- Task version: Task version: v3.15.2 (h1:Swi9lMSrTM4a1UhXFe3SiHef6q+EY/WHfjQGj6yvtMc=)
- Operating System: Ubuntu 22.04

### Example Taskfile showing the issue

[code]

That is basically a copy-paste from the usage guide of the website.

I get the following error:

[code]

How to solve this?

Thank you for your time.

[2022-09-29 20:09] kovan commented on #875
the "-" in "- sh" was the problem, closing

[2022-09-29 20:09] #875 closed

[2022-09-30 00:34] #870 closed

[2022-09-30 00:55] andreynering commented on #873
Hi @endigma,

This is definitely not a priority, but I'll keep this issue open in case we decide to do it in the future.

[2022-09-30 06:26] postlund opened #876 "ROOT_DIR and escaping issues on Windows"
- Task version: Task version: v3.15.0 (h1:k1s4CXeADCJyRt8tR67XC+gusYR0BL6d/r3AIOeE98c=)
- Operating System: MINGW64_NT-10.0-19044

### Example Taskfile showing the issue
Running this example on Windows (in my case via msys in Git bash):

[code]

Produces this output:
[code]

The path is technically correct of course, but escaping kinda ruins `ROOT_DIR` when used as a variable. Maybe it should be e

[2022-10-04 22:44] kovan opened #883 "Throw error on Taskfiles with nonexistent YAML keys"
The task was not executing, and I was sitting there for a while, testing this, testing that, nothing. Very strange I thought. After a (long) while, I realised I was writing with incorrect syntax. Like this:

I had:

[code]

And the correct syntax was:

[code]

Notice the spare dashes at "deps" and "cmds" in the first case?. That was it. But I got no error or warning message, just the task would no

[2022-10-05 00:38] davidalpert commented on #764
@ilewin are you working on this? if not I might give it a try...

[2022-10-05 03:03] davidalpert commented on #764
draft changes available for review as #884

[2022-10-05 22:16] 4x0v7 commented on #764
Just a side note, but since Taskfiles are just yaml, you can use `yq` to parse and get info from specific tasks.
I see this as a big advantage over eg. Makefiles
`yq eval '.tasks.default.cmds[]' Taskfile.yaml`

[2022-10-06 09:01] Tiksagol opened #885 "On YAML syntax error, print the path of the Taskfile that failed to parse"
- Task version: v3.16.0
- Operating System: Ubuntu 18.04

### Example Taskfile showing the issue

#### Taskfile.yml
[code]

#### test.yml
[code]

#### Actual output
[code]

#### Expected output
yaml: **test.yml** line 4: found unexpected end of stream

[2022-10-06 11:43] ssbarnea commented on #764
I forgot that we already have a schema at https://json.schemastore.org/taskfile.json - maybe we would like to move it inside taskfile itself, to have it much easier to update. I did the same transition on 3 projects (ansible-lint, ansible-navigator and molecule) as I can extend/change schema atomic, no longer needing to remember to also update the schema after a change that affects it.

[2022-10-06 18:52] pd93 commented on #876
@postlund There is a `shellQuote` function made available via the [templating engine](https://taskfile.dev/usage/#gos-template-engine) for this kind of situation:

[code]

[code]

Please let me know if it works for you.

[2022-10-07 00:27] #788 closed

[2022-10-07 01:01] andreynering commented on #876
@pd93 is right. `shellQuote` exists for this very purpose.

[2022-10-07 01:01] #876 closed

[2022-10-07 01:44] #603 closed

[2022-10-07 02:25] andreynering commented on #764
Hey @davidalpert, thanks for working on that. I plan to review your changes once possible.

@ssbarnea Having the ability to generate the schema automatically would be interesting. I just don't know how easy or viable that it.

It also makes sense what you said about the expected output being the resolved form and not the raw one (should have variables already interpolated, etc). Implementation-wis

[2022-10-07 02:26] andreynering commented on #885
Hi @Tiksagol,

Yeah, that makes sense.

It should be easy to do if anyone wants to give it a try.

[2022-10-07 07:50] ssbarnea commented on #764
Generating a schema dynamically would be overkill unless you are already using a loading library that supports this. On python world there is pydantic that can be used for that. Still, I am not using it and I "handcraft" them, which is perfect for any project that does not add/remove/change a lot of these.

Keep in mind that JSON Schemas are very good source of information, in fact they could be u

[2022-10-07 10:05] #845 closed

[2022-10-07 10:41] postlund commented on #876
Sounds exactly what I need, thanks! Since I'm using `.ROOT_DIR` more or less *everywhere* to refer to files and script, I will do something like this to have it escaped everywhere:
[code]
And use `.ROOTDIR` instead.

[2022-10-07 12:22] davidalpert commented on #764
this is my first crack at contributing to this code base. feedback is very welcome. as well, feel free to throw it out and start again if a different direction is more appropriate.

[2022-10-09 09:59] ssbarnea opened #888 "Unable to override vars at task level"
- Task version: 3.16
- Operating System: macos

### Example Taskfile showing the issue

[code]

Despite that the documentation suggests that there are 3 ways to override the vars, apparently none work for task leve, and we cannot even see one example of variable overriding inside the main test file from https://github.com/go-task/task/blob/master/testdata/vars/v3/Taskfile.yml -- all the vars are u

[2022-10-09 10:09] ssbarnea commented on #850
I think that we really need command line options that would allow us to override vars, without any tricks. Vars have a lot of advantages over expansion of shell variables, which is not visible inside the console.

Probably a syntax like `--vars VAR1=foo,BAR2=bar` would suffice, or similar alternatives.

[2022-10-10 13:20] deepbrook commented on #806
As far as I can tell, the `internal: true` flag for includes takes care of hiding tasks which are not meant for end-user execution (and also hides the tasks from the `--list` option. So, this issue can be closed imo.

[2022-10-10 13:30] pd93 commented on #806
I think there is still value here. `internal: true` solves the case where your included Taskfile only contains utilities, but if I have a separate Taskfile for docs (like the Taskfile repo itself has), then sorting with the root Taskfile's tasks first still makes sense.

[2022-10-10 13:31] deepbrook opened #889 "Allow marking variables as required, and fail task if they're absent"
I ran into behaviour which causes a lot of annoying trash on my gitlab instance.

Given the following task:

[code]

I get built-in failure if `GL_PROJECT_ID` is missing, because the gitlab API is going to throw a 404.
However, If misspell `purpose` on the cli when running this task like this:

[code]

The task runs and the state file is simply created on GitLab when it doesn't exist:

[code]

I'd

[2022-10-10 16:13] pd93 commented on #806
@deepbrook FYI, I've posted #890, which (among other things) will fix this issue.

[2022-10-11 04:38] treybrisbane commented on #889
@deepbrook You can effectively get required variables by leveraging a combination of Go's template syntax and Slim-Sprig's `fail` function:
[code]

Hope that helps! 🙂

[2022-10-11 08:59] xavier-sanna opened #891 "Allow adding task name aliases"
It would be great to be able to add task name aliases.

For instance, I have this task named: `api:prisma:migrate`
I would like to add a shortened alias `a:p:m` and be able to run the task with both notations.

[code]

It could even be a list of aliases, and not constraint the user to a single naming alterrnative.
[code]

[2022-10-11 09:04] xavier-sanna commented on #891
Seems to be a duplicate of #675 & #879, sorry about that

[2022-10-11 09:04] #891 closed

[2022-10-11 11:26] Eun commented on #570
fixed since https://github.com/go-task/task/releases/tag/v3.8.0.

Please close

[2022-10-11 13:19] #570 closed

[2022-10-11 15:32] a0v0 opened #892 "cannot use rm command to delete a file"
- Task version: latest
- Operating System: Windows 11

### Example Taskfile showing the issue

[code]
Error I am getting:

[code]

Though If i use `rm -f Dockerfile` in vscode terminal everything works fine. Only not able to use it with Taskfile

[2022-10-11 18:40] JohnHardy commented on #892
I have the same use-case as you, there is a little conversation about this ongoing in discord at the moment about the ways this can be worked around / resolved:

* https://discord.com/channels/974121106208354339/1028716829981544559/1028716829981544559
* https://discord.com/channels/974121106208354339/974121514184085555/1029020102655483975

[2022-10-12 02:39] a0v0 commented on #892
seems will take quite a time

[2022-10-12 02:47] a0v0 commented on #892
For now this did the work

[code]

[2022-10-12 12:28] nfam opened #894 "TASKFILE_DIR is incorrect"
- Task version: v3.16.0 (h1:z7yz6yjWHOkt2/K8x4sEi709VKyHtsuQLwy2Jb9GEpw=)
- Operating System: macOS Monterey

### Case 1

[code]

[code]

[code]

Then run `task` at the first `Taskfile.yml` directory

Result
<pre>
root ROOT_DIR     /Volumes/data/test/case1
root TASKFILE_DIR /Volumes/data/test/case1
root pwd          /Volumes/data/test/case1
sub1 ROOT_DIR     /Volumes/data/test/case1
sub1 TASKFILE_

[2022-10-13 21:54] JohnHardy commented on #892
That's a great workaround for now👍

[code]

Tagging https://github.com/go-task/task/issues/197

[2022-10-13 22:22] pd93 commented on #892
Since @JohnHardy and @a0v0 have posted a viable workaround and the requested functionality is covered by #197, I'm going to close this as a duplicate. Thanks all.

[2022-10-13 22:22] #892 closed

[2022-10-13 22:52] pd93 commented on #155
Closing this as completed. Seems like this is now supported as a [community project](https://taskfile.dev/installation/#chocolatey).

[2022-10-13 22:52] #155 closed

[2022-10-14 09:33] Zebradil commented on #332
I have a use case in which interpolation in `summary` would be quite helpful.

I often use Taskfile as an interface to run shell scripts, which might require arguments or environment variables set. Requirements are usually described in a script's help/usage message. However, I can't provide it natively in a `summary` when a Taskfile is used instead of using the script directly. This leads to an in

[2022-10-14 19:26] #813 closed

[2022-10-14 19:29] sdemura opened #898 "Add VCS_ROOT variable"
On top of ROOT_DIR and TASKFILE_DIR being immensely useful, it would be awesome to have a built in VCS_ROOT variable.

I can usually get around this in my taskfiles by defining my own:
[code]

But this falls apart if trying to use that variable in includes. For example:
[code]

[2022-10-14 19:31] Jeremie-Chauvel commented on #293
Hi everyone,
I just found out that `task` has indeed an available completion, I highly recommend adding a few words regarding this in the documentation (in the installation section maybe ?), I can do it if you like.

For @drorata, @pimjansen  or other people trying to install the zsh completion, basically you need to download the given completion, make it executable and move it to a directory in `

[2022-10-14 19:53] andreynering commented on #813
This was implemented by @ilewin at #865.

I plan to make a new release still today.

[2022-10-14 19:53] sdemura commented on #889
I use preconditions for this, but I will say using sprig is more clever

[code]

[2022-10-14 22:37] #885 closed

[2022-10-14 23:11] #867 closed

[2022-10-15 00:50] max-sixty opened #900 "An `output:` cmd"
I frequently want to update the user with the status of the task, from the taskfile. For example:

[code]

There's some awkwardness with using `echo` though:
- It's inline with the other output, which is sometimes quite verbose. We can use emojis to try and highlight it. But ideally it would be a different color, or some other semantic difference.
- We always want `silent: true`

So the question /

[2022-10-15 02:14] pd93 commented on #405
Duplicate of #294

[2022-10-15 02:14] #405 closed

[2022-10-15 03:03] pd93 commented on #675
Since `aliases` are now a merged in #879, this can be closed. If there is still a desire for the `matrix` functionality described, I feel this should be logged as a new ticket.

Though, I will add that these kind of command shortcuts are very subjective to individuals and I don't feel that they really fit Task. They seem better suited to a user's shell aliases instead.

[2022-10-15 03:03] #675 closed

[2022-10-15 03:27] pd93 commented on #696
@aliculPix4D @marco-m-pix4d How did you get on with 3.12? Are you still having issues, or can this be closed?

[2022-10-15 10:54] sylv-io commented on #294
Since #405 is a duplication, let me paste my workaround [[1](https://github.com/go-task/task/issues/405#issuecomment-935724197), [2](https://github.com/go-task/task/issues/405#issuecomment-935734215)] here too:

There is already a way to reuse preconditions by the use of YAML anchors:
[code]
However, the anchor have to be on the same YAML file.
Adding global preconditions would only reduce duplica

[2022-10-15 11:32] altosys commented on #294
I'm aware of yaml anchors, but as you said yourself, it doesn't work across multiple taskfiles, and it requires a lot of duplication which is error prone.

[2022-10-15 12:46] sylv-io commented on #294
sure, I understand. I prefer a proper solution for this issue, too. This is just a comment for anyone who is not aware of yaml anchors and are looking for a workaround solution.

[2022-10-18 20:14] Jeremie-Chauvel commented on #293
Hi @andreynering,
I don't really know golang, however I'm interested in this feature, and would love to submit a pull request to implement it. (As well as contributing to the documentation to advertise the already available completion).

Would a pull request be welcome ?

[2022-10-19 14:16] andreynering commented on #293
Hi @Jeremie-Chauvel,

Contribution to documentation would be welcome. Perhaps this would be a new section in the `Installation` page.

Regarding code contribution, that's welcome, too. I'm still not 100% on how that is supposed to work, though. I'm not too familiar to completion scripts, they have 100% been made by contributions from the community, and I don't even use it myself.

Seems that `--ge

[2022-10-19 17:23] Jeremie-Chauvel commented on #293
Sure, for the `--generate-completion` flag, I propose looking into other implementation first to have a strategy you can understand and challenge before moving to implementation ☺️
First that comes to mind is [GitHub CLI](https://cli.github.com/manual/gh_completion)

[2022-10-21 10:11] deepbrook opened #903 "Working directory of included taskfiles is differs depending on task call location"
Given the following Taskfiles:

[code]

[code]

[code]

We get the following behaviour when calling the above tasks:

[code]

IMO, this is unexpected behaviour and a *bug* - as I'm calling all tasks from `test/Taskfile.yaml`, which specifically declares the exec directory should be `./` for the included taskfiles.

In otherwords, the correct behaviour should be as follows if running `foo.yaml` in

[2022-10-21 21:27] Jeremie-Chauvel commented on #293
From a quick look into github-cli, it seems the projet is relying on [cobra](https://github.com/spf13/cobra) to build there CLI interface. One of Cobra feature is generating the completion for the built CLI interface [example with github CLI](https://github.com/cli/cli/blob/4294ee14a1a80ca820988c2497961da4f6646e9e/pkg/cmd/completion/completion.go).

Rebuilding Task CLI interface seems a bit overki

[2022-10-24 07:24] marco-m-pix4d commented on #696
hello @pd93, we switched to using Task upstream (as opposed to our fork), because Task handles signal propagation better since [3.13](https://github.com/go-task/task/releases/tag/v3.13.0).

Regarding this specific issue, @aliculPix4D could you please confirm wether we are still seeing this behavior, and if yes, would it be possible to "demostrate the use case we have" as requested in https://githu

[2022-10-25 19:02] Jeremie-Chauvel commented on #293
Hi @andreynering,
[I worked with @viconnex to document the existing completions](https://github.com/go-task/task/pull/906).

I will tackle the flag in coming weeks

[2022-10-26 20:42] mcquackers opened #907 "Documentation ambiguity: Variables supplied via command line after task override Global Vars despite being called environment variables"
Per [the documentation](https://taskfile.dev/usage/#variables), global vars are considered of greater importance than env vars and should not be overridden.
Directly following this hierarchy is
```Since some shells do not support the above syntax to set environment variables (Windows) tasks also accept a similar style when not at the beginning of the command.```

and shows an example of variables

[2022-10-27 09:01] timmalich commented on #907
Thanks for reporting this. I just run into the same issue.
The even more strange thing (for me) is, that we use version 2 and we used
`DIR=meow task test`
a lot for quite some time already.
I could swear that this must have worked in past. O.o

[2022-10-27 15:25] sernot opened #908 "Add support for working with shell options"
## Problem

The double-star (`**`) glob syntax, meaning a deep recursive directory walk, is commonly used, and is available in Task in `sources` and `generates` directives by default.
However, like in other shells, the shell in Task requires the `globstar` option to be set for the syntax to work.

Because shells are isolated across cmds run by Task, creating a task that uses globstar will require

[2022-10-27 16:02] andreynering commented on #908
Original discussion: https://discord.com/channels/974121106208354339/1035164287695589457

_If_ we were going to support a `shopts:` option, it should certainly be available globally as well, and not only at task level.

But I'm not sure it's really needed. I'm more inclined to just enable `globstar` for every command and that would likely be enough.

Anyone disagrees?

[2022-10-27 16:10] pd93 commented on #908
I don't have any objection to this. My only concern is that for anyone using `**` in their Taskfile without `globstar` set, this will be a breaking change. As this kind of globing is used for fetching a list of files, this could potentially be dangerous if anyone is passing something to `rm` or similar.

To be clear, I think this is a very uncommon scenario, but worth considering

[2022-10-27 16:15] andreynering commented on #908
Good point about backward compatibility. Maybe we have to have the option then, and delay the default change to the next major version only.

[2022-10-27 16:27] sernot commented on #908
I am not sure if such are supported by mvdan/sh, but there are various other globbing options, such as `extglob`, which popped up in #225. Not all options can be reviewed for being enabled or disabled by default, so I think there should be manual user control over this.

There is a lot of tooling that only operates on files, most being formatters and linters like clang-format or flake8. This is a

[2022-10-27 16:32] pd93 commented on #908
@sernot agreed with everything you said. When I said

I was referring to the number of cases where this would be a breaking change, not the use of `globstar` itself. As you said, not many people (if any) will be using `**` without `globstar` enabled, but on the slim chance that they are, I think the smart thing to do is to defer this to the next major version.

[2022-10-27 16:33] pd93 opened #909 "Enable globstar by default"
As per the discussions on [Discord](https://discord.com/channels/974121106208354339/1035164287695589457) and in #908, we should consider enabling `shopt -s globstar` by default for shell commands. This will enable functionality like this:

[code]

without having to do this:

[code]

[2022-10-27 16:34] pd93 commented on #908
I've opened [another issue](https://github.com/go-task/task/issues/909) to track changing the default value. This issue can remain focussed on a `shopts` keyword or similar.

[2022-10-27 16:55] ggoraa commented on #908
Gonna drop my two cents here as well
I am thinking about something like this:
[code]
Or:
[code]

So basically, adding an ability to include a shell that will be automatically used in every CLI call, will (possibly) eliminate the requirement of having a shebang on top of a script, bc it will not be required if ran from a shell, and also adds an ability to use features exclusive to a shell

[2022-10-27 19:17] Rots opened #911 "`cmd:` accepted as task key"
As discussed in https://discord.com/channels/974121106208354339/1035111266005569567

With this input
[code]
Gives the following output:
[code]

We would expect the `hello-broken` to either fail with a message that `cmd:` is an unsupported key or to behave similarly to the above output.
Actual output:
[code]

- Task version: 3.17.0
- Operating System: Ubuntu

[2022-10-29 14:42] andreynering commented on #293
@Jeremie-Chauvel #906 is merged. Thanks!

[2022-10-29 14:57] #842 closed

[2022-10-31 11:33] aliculPix4D commented on #696
First sorry for the late reply. I had a look at the issue again.

Here is my summary:

1. We don't see this issue anymore in our case because we have implemented a workaround:
- in local tests and pre-commit hook we ensure that sub task files (the one not in the root of the repository) do not declare variables
- the consequence of our workaround is that no sub task file can be run independently on

[2022-11-01 10:03] DeronW opened #921 "Does the doc have Chinese version ? or how to contribute it?"
Task is a great tool, does the doc have Chinese version ?  or how to contribute it?

[2022-11-01 11:51] andreynering commented on #921
Hi @DeronW! 👋

We don't have any Chinese person between the maintainers, so we don't have a translation to Chinese. In fact, it's only English for now.

If you are willing to work on it, we have two routes:

1) The easiest one would be to fork this repository and configure GitHub Pages to publish that fork to another one, either a `.github.io` one or another domain if you decide to buy it.
2) [Doc

[2022-11-01 12:40] eitsupi opened #922 "PowerShell completion seems buggy on Linux"
- Task version: 3.17.0
- Operating System: Linux Debian

![task](https://user-images.githubusercontent.com/50911393/199234029-14160e22-f32a-438c-b169-1aa97717831c.gif)

The completion script does not seem to work well with pwsh on Linux.
Unfortunately I am not familiar enough with PowerShell to know which OS difference this is coming from.......
I have confirmed that the completion script works fi

[2022-11-02 03:30] DeronW commented on #921
Well, it's just me, I understand there will be continuous workload to update different language doc, be honestly I could work on the doc few time a year, and last some years. But still I hope to there is a link, inside https://taskfile.dev/ , to the Chinese doc(make it officially is important). So I should prefer way #1 and make pull request with an Chinese doc link.

[2022-11-02 12:47] andreynering commented on #921
@DeronW Nice! I would certainly allow a link in the website to the Chinese version 👍

[2022-11-02 14:39] #661 closed

[2022-11-02 14:39] andreynering commented on #661
Implemented on #661.

[2022-11-02 14:49] #806 closed

[2022-11-03 10:39] daroga0002 opened #923 "useless : after task name in task list"
When using a `task list` command output is always show in format:
<img width="835" alt="image" src="https://user-images.githubusercontent.com/20227477/199698362-fe259c4f-dd2d-44d4-a83c-db98961d21a3.png">

issue which I see here is that `:` after task name seems be useless for me as there is constant tabulation between task name and task description.

I am pointing this as in cases where users are

[2022-11-04 23:37] pd93 commented on #923
I've done a little bit of digging on this one.

Relevant code in Hyper.js:
https://github.com/vercel/hyper/blob/084d5f3551642740194f72c8b6eb17fe78591edf/lib/components/term.tsx#L278-L280

This is happening because `:` seems to be included in the list of word separator characters in [xterm](https://xtermjs.org/) which Hyper.js depends on. See this [related issue](https://github.com/xtermjs/xterm.js

[2022-11-04 23:47] pd93 commented on #923
Ahh ignore the above. I've got it the wrong way around 😆 Those characters were added as word separators, which broke hyperlinks. Having said that, VSCode's terminal still doesn't select the `:` for me. Weird.

[2022-11-08 10:47] pinpox commented on #392
Is there a way to `set -e; set -o pipefail` for *all* cmd's?
I want the task to stop if any of the cmd's fail, currently I have to set the bash options in front of everyone of them like so:
[code]
It would be nice to have the possiblity to do the `set -e -o pipefail` once for all of them. I tried this:
[code]
But this seems to fully ignore the first cmd.

[2022-11-08 16:14] sernot commented on #392
Look into #908. All commands run in isolation so the variable is not set in all cmds

[2022-11-09 16:10] pinpox commented on #908
While globbing/globstar is an important option it is not only one. If shell options are to be made configurable, please make it in a more general way than, allowing to set the equivalent of `set -e` and ` set -o pipefail` aswell.

I stumbled across this issue while trying to find a workaround for #392

[2022-11-10 10:20] Mussabaheen opened #928 "`&` at the end of `cmd` doesn't run the command in background"
when using `&` at the end of a command doesn't make it a background task.

[code]

- Task version:
latest
- Operating System: macOS and Linux

[2022-11-10 15:42] Mussabaheen commented on #928
ok so, I found the problem basically the task ends before the server can start may be we should add the support for `disown` in this

[2022-11-10 19:41] pd93 commented on #928
This appears to be an issue with [mvdan/sh](https://github.com/mvdan/sh). See replication steps below:

`service.sh`:

[code]

`> bash -c "./service.sh > out.txt &"`:

Creates the file `out.txt` and appends the numbers 1..5 as a background process

`> gosh -c "./service.sh > out.txt &"`:

Does nothing :/

[2022-11-11 08:25] bochove opened #930 "extend a file instead of including"
Say I want to have all sorts of complicated commands in a committed version of a taskfile, that require certain variables, like aws-profile names.
Then I would love for a file to extend the base namespace with these variables and personal commands.

[2022-11-11 09:12] Mussabaheen commented on #928
I think the problem is that the parent task ends and it forces the child process created using `&` to end as well.

[2022-11-11 10:46] pd93 commented on #928
I don't think this is to do with Task. As I said, this problem also exists when executing your command directly with `gosh` (the interpreter used by Task).

Also, if we write a Taskfile like this:

[code]

and then run

`> task sleep-5s-bg`
`> task ps`

[code]

You can see that the task executes `sleep` in the background and exits, but if you check `ps`, the sleep process is still running (i.e. Ta

[2022-11-11 10:52] pd93 commented on #930
Sounds like a duplicate of #273

[2022-11-11 10:52] #930 closed

[2022-11-12 14:55] andreynering opened #931 "Add `--debug` (or similar) flag to output debugging metadata about the Taskfile"
Sometimes users need to debug something on their Taskfiles, and we could have a flag to output information that could help them:

- Computed/expanded variables
- Computed/expanded env
- Computed/expanded sources and envs (#924)

There may be some intersection between this and #764 / #884, so this will probably be an extension of `--json` with extra data that would be useful for debugging but not f

[2022-11-13 17:08] davidalpert commented on #764
a pattern I have used on other projects, adopted from the `kubectl` codebase if I recall, is to abstract the writing to STDOUT and introduce some helpers such that a client might request different `--output` formats (e.g. `--output json` or `--output yaml`

would that be of use to consider here also?

I see that `task` already has a `--output` flag with these options:
- interleaved (default)
- gro

[2022-11-13 17:22] davidalpert commented on #764
@andreynering if you are open to it we might schedule a zoom call to discuss the feature and align on a direction.

[2022-11-14 00:52] kirb commented on #225
FYI the negation feature just got tagged: https://github.com/mattn/go-zglob/releases/tag/v0.0.4

[2022-11-14 13:56] andreynering commented on #764
I'll try to write some thoughts about the design, and joining the discussion from #884 into this issue.

I think this will be simple, and a call is not necessarily needed.

My proposal:

1) Yes, let's start with an MVP and we can expand later. That's a great idea to discuss the design first and improve later.
2) The existing `--output` flag is [for a different purpose](https://taskfile.dev/usage/#

[2022-11-14 14:46] davidalpert commented on #764
I will get started on this.

I do wonder if it would be useful to print task execution output as JSON also 🤔

[2022-11-14 14:53] andreynering commented on #764
I don't think so. With `--json` we won't be executing the tasks, just outputting JSON information about the available tasks.

In theory we could also allow `--output=json` if that happens to be useful to extension maintainers, but let's push that to the future.

[2022-11-14 20:53] dsbitor opened #933 "Issue, `label` Directive - fails to work when directive `output: prefixed` in Taskfile"
## Problem:

The directive `label`'s function is to allow a task to output a
text string, other than the task name when the task is executed.

In the official documentation states that label:

'Overrides the name of the task in the output when a task is
run. Supports variables.'

If the `label` directive is set for a task, say to `Hello`
with `label: 'Hello'` and the directive  `output: prefixed`

[2022-11-16 12:39] sisp opened #935 "Publish `task` as a Python package"
I'd love to use `task` as the task runner in a Python project without requiring developers to install `task` manually. In my opinion, it is much better to use `task` over the plethora of language-specific task runners because it tends to be more feature-rich than many alternatives (as far as I can tell) and can be used for projects independent of their programming languages across all major operat

[2022-11-16 16:46] andreynering commented on #935
Hi @sisp,

I have zero experience with the Python world, so to even consider doing this I need some guidance from the community.

npm was easy because I'm more familiar with the JS world and the process was relative straightforward.

For anyone that would use this, please add your 👍 so we know how many would really use this.

[2022-11-16 21:48] aminya commented on #225
https://github.com/go-task/task/pull/924

the globbing library that `task` uses [fails to check some patterns](https://github.com/mattn/go-zglob/issues/38#issuecomment-1302839605).

The following checks the files inside the `dev` folder
[code]

But this doesn't!
[code]

Or for example, `**` doesn't check all the files of the current project.

[2022-11-17 11:20] daroga0002 commented on #923
thank you for your detailed input. So what will be conclusion on this proposal?

[2022-11-17 14:16] davidalpert commented on #764
@andreynering here is a second draft; let me know if this is more aligned with your expectations.
- #936

3 unit tests are failing though when I printed out more context about each failure I wonder if the expectation that we print nothing to the console is correct.

in one case, for instance, that expectation appears to hide context from the following error:
[code]

in another that expectation see

[2022-11-17 20:08] ssbarnea opened #937 "Enable GHA output grouping prevents real-time streaming of stdout/stderr"
Based on https://discord.com/channels/974121106208354339/1042886315856892015 we had the following observations:

* Enabling GHA grouping via `output: group` does disable progressive stdout streaming. This can be problematic if user has a long-running single script, as he would get zero output on the web console
* GHA allows streaming when grouping is used
* By adding `interactive: true` to a speci

[2022-11-19 07:55] Jeremie-Chauvel commented on #293
Hi @andreynering,

It took some to get get back to you but from a small investigation, I propose two ways of addressing this issue:

- Refactoring the CLI interface to use Cobra
- Bundling the current completions in the CLI to print them when using the new flag

|  Solution | Ease of implementation | completions maintenance  | impact on CLI size/dependencies
|---|---|---|---|
|  Switch to Cobra

[2022-11-20 01:11] andreynering commented on #293
Hi @Jeremie-Chauvel,

I'm totally fine with migrating to Cobra if that bring improvements.

I had initially choosen [pflag](https://github.com/spf13/pflag) because it's more minimalistic. I now noticed [Cobra uses pflag under the hood](https://github.com/spf13/cobra/blob/ad6db7f8f6e485f55b1561df9276fa4d8e278bde/go.mod#L8), that may even make migration somewhat easier. 🙂

[2022-11-20 01:15] #847 closed

[2022-11-20 01:23] andreynering commented on #937
This is about allowing `begin` and `end` for `interleaved` [just like we allow for `group`](https://taskfile.dev/usage/#output-syntax):

[code]

The problem is: the output will be messed up if multiple tasks run at the same time (output would be mixed, that's why it wasn't initially allowed).

Some possibilities:

- Raise an error if multiple tasks run at the same time with this configuration?
- S

[2022-11-20 01:41] andreynering commented on #764
Hi @davidalpert!

Looks great to me! Feel free to ask me a review once it's ready (or close to it) so I can look in depth.

And you're right, improving these error messages would be nice. Feel free to postpone that to another PR if you prefer.

[2022-11-21 13:44] mgbowman commented on #655
I also tried with file pipe redirection 😞
[code]

I'm interested in this for a _remote_ `rtask` shell alias...
[code]

[2022-11-21 18:13] pd93 opened #939 "Included taskfiles inherit parent taskfile directory instead of root taskfile directory"
Not sure if this is intended behaviour when double nesting included taskfiles or not. Example below:

Base Taskfile includes another Taskfile in the `tasks` subdirectory.

[code]

Included Taskfile includes a utility Taskfile using the new `internal` keyword. It then defines 2 tasks. One to print the current directory and one to call a task in the util Taskfile that also prints its current directo

[2022-11-22 13:58] MadL1me opened #941 "Command-level dir (cd)"
# Problem

Very often, when we use __Taskfile__, we want to call commands from some directive, required for this commands.

# Current Solution

Currently, we can do this this way:

[code]

The problem with this solution, is that we can't use cmd properties (like __*ignore_errors*__ or *vars*) for each command separately. We run whole job as one command, so we can't use other feature for taskfile.

[2022-11-22 13:59] MadL1me commented on #941
I would be happy to implement this myself, if you need help, after we establish the api

[2022-11-22 18:07] sdemura commented on #941
[code]

For sake of discussion, that feels a little icky. Bash variables defined in in commands don't propagate down, so why should cd?

The first example seems far more idiomatic Task, imo.
[code]

[2022-11-22 18:20] pd93 commented on #941
See previous discussion: https://github.com/go-task/task/discussions/940#discussioncomment-4205672

I tend to agree with @sdemura. As I've previously said, I think having a `dir` keyword at `cmd` level makes sense, but propagating directories over multiple commands seems to go against the way that most task runners (and Task) work and could be confusing.

To accomplish what you want to do without

[2022-11-23 16:24] fatmcgav-depop opened #942 "`includes` doesn't interpolate paths"
Hi there

Firstly, I'm not sure if this is strictly a bug or a feature request.
However the [docs](https://taskfile.dev/usage/#os-specific-taskfiles) mention that it's possible to interpolate using the `{{OS}}` value, so I'd expect to be able to use other vars...

Anyhow, I've got a setup that leverages the `includes` functionality to dynamically include another `Taskfile`.
The challenge is that t

[2022-11-23 18:00] pd93 commented on #942
Looks like a bug to me unless I'm missing something. See #943

[2022-11-23 18:04] pd93 commented on #939
Ah this looks like a duplicate of #903

[2022-11-23 18:04] #939 closed

[2022-11-23 23:08] fatmcgav-depop commented on #942
🍠 Thanks for the lightning fix!

[2022-11-26 00:41] DeronW commented on #921
@andreynering The translation is complete, and because GitHub Pages are restricted, so I prefer https://readthedocs.org/ to hold docs. Here are 2 links offered by the documents:

https://task-zh.readthedocs.io/zh_CN/v3.18.0/
https://task-zh.readthedocs.io/zh_CN/latest/

v3.18.0 is the current version, which I think should be added to the document in a proper place.

[2022-11-26 21:24] #921 closed

[2022-11-26 21:31] andreynering commented on #921
Hi @DeronW,

Thanks a lot for working on this! ❤️

Just added a link in the website on 45ab4dc7180b870df35d078a7cb04966eeb95b0a. Still want to add `| [Chinese in Chinese]` to the end of these links, but didn't want to mistype it. Is `中国人` correct? (taken from Google Translator). Links would be `Chinese | 中国人` then.

I didn't know GitHub Pages was restricted on China. If we ever decide to bring the

[2022-11-27 03:18] DeronW commented on #921
Thanks, that's very effective.
“中国人” is correct, [Chinese in Chinese] is also fine.

[2022-11-28 10:51] arielsrv opened #944 "Show variables in terminal"
I would like the terminal shows internal variables

This

[code]

For it

[code]

[2022-11-29 17:02] Zebradil commented on #696
We're facing a similar issue.

The idea is to have a reusable Taskfile with a configurable version of a command line tool. In this example, a docker image tag is to be configured.

`Taskfile.yaml` includes `Taskfile_docker.yaml` and overrides the `TAG` variable with a `bookworm` value.
`Taskfile_docker.yaml` uses the `TAG` variable to build another variable — `CMD`, which represents the final comm

[2022-11-30 09:42] Northburns commented on #854
Thank you, that is totally suitable for my cases 👍

[2022-11-30 09:42] #854 closed

[2022-11-30 09:46] Northburns opened #945 "Update Sprig library to include dict's mergeOverwrite/mustMergeOverwrite"
Sprig function library includes new functions e.g. `mergeOverwrite`/`mustMergeOverwrite`. Maybe updating the Sprig library could be considered. Are there maybe non-obvious blockers for this? Cheers!

[2022-11-30 11:10] pd93 commented on #944
Task already resolves _internal_ variables and environment variables. i.e. Ones that use the templating engine. For example:

[code]

[code]

What you're asking is for task to resolve _shell_ variables and I don't think this is a good idea. The purpose of that line of output is to display the command that was run in the shell. Resolving the variables could be misleading and make things difficult t